<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>BBDH</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="/assets/logo%20white-C7adMC3s.png"
    />
    <script type="module" crossorigin src="/assets/login-B3UD_NyV.js"></script>
    <link rel="modulepreload" crossorigin href="/assets/useApi-CrkeUblU.js">
    <link rel="modulepreload" crossorigin href="/assets/auth-CIdfLHBs.js">
    <link rel="stylesheet" crossorigin href="/assets/useApi-BHbPscNU.css">
    <link rel="stylesheet" crossorigin href="/assets/login-Bh_jxOrx.css">
  </head>
  <body>
    <div class="container containerLogin">
      <div class="d-flex justify-content-center align-items-center divLogin">
        <div
          class="bg-body-tertiary rounded-3 d-flex flex-column justify-content-center align-items-center divContainer"
        >
          <div class="divImg rounded-3 d-flex justify-content-center align-items-center mb-4">
            <img
              class="img pe-3"
              src="/assets/logo%20white%20with%20logo%20type-CMr13kKU.png"
            />
          </div>
          <form class="form">
            <div class="mb-3">
              <label
                for="authNmaeLogin"
                class="form-label"
                >User Name</label
              >
              <input
                type="text"
                class="form-control"
                name="nameAuthNameLogin"
                id="authNmaeLogin"
              />
            </div>
            <div class="mb-3">
              <label
                for="passwordLogin"
                class="form-label"
                >Password
              </label>
              <input
                type="password"
                class="form-control"
                name="namePasswordLogin"
                id="passwordLogin"
              />
            </div>
            <a
              id="loginBtn"
              class="btn btn-primary w-100"
              role="button"
              >Log In</a
            >
          </form>
        </div>
      </div>
      <div
        id="idLoading"
        class="loading col-12"
      >
        <svg
          class="pl"
          width="240"
          height="240"
          viewBox="0 0 240 240"
        >
          <circle
            class="pl__ring pl__ring--a"
            cx="120"
            cy="120"
            r="105"
            fill="none"
            stroke="#000"
            stroke-width="20"
            stroke-dasharray="0 660"
            stroke-dashoffset="-330"
            stroke-linecap="round"
          ></circle>
          <circle
            class="pl__ring pl__ring--b"
            cx="120"
            cy="120"
            r="35"
            fill="none"
            stroke="#000"
            stroke-width="20"
            stroke-dasharray="0 220"
            stroke-dashoffset="-110"
            stroke-linecap="round"
          ></circle>
          <circle
            class="pl__ring pl__ring--c"
            cx="85"
            cy="120"
            r="70"
            fill="none"
            stroke="#000"
            stroke-width="20"
            stroke-dasharray="0 440"
            stroke-linecap="round"
          ></circle>
          <circle
            class="pl__ring pl__ring--d"
            cx="155"
            cy="120"
            r="70"
            fill="none"
            stroke="#000"
            stroke-width="20"
            stroke-dasharray="0 440"
            stroke-linecap="round"
          ></circle>
        </svg>
      </div>
    </div>
  </body>
</html>
